*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

h1 {
    font-variant: all-small-caps;
}

a {
    text-decoration-line: none;
    color: #ffffff;
}

/* Block de Contenues */
.contenue {
    margin: auto;
    border: solid #cfcfcf 1rem;
    height: 40rem;
    width: 70%;
    color: #ffffff;
}

/* Block */
.block1, .blockImage {
    height: 100%;
}

.block1 {
    display: inline-block;
    background: black;
    width: 60%;
}

.blockImage {
    position: relative;
    float: right;
    background-image: url("image test.jpg");
    background-size: 100% 100%;
    width: 40%;
}

/* Commun à toutes cases ou Lignes */
.case1, .case2, .case3, .case4, .case5, .case6, .case7, .case8 {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    background-size: 100%;
    margin-right: -0.1rem;
    margin-left: -0.1rem;
    padding-top: 3rem;
}

.case2, .case3, .case4, .case5, .case6, .case7, .case8 {
    width: 33.33%;
}

.ligne1, .ligne2, .ligne3 {
    height: 33.33%;
    width: 101%;
}

.icone, .titreIcone {
    text-align: center;
}

.icone {
    font-size: 4rem;
}

.titreIcone {
    font-size: 1.3rem;
    font-variant: all-small-caps;
}

/* Ligne1 */
.case1 {
    background: #35bc7a;
    width: 66.6%;
    padding-left: 3rem;
}

.case1Text, .case1Bouton1, .case1Bouton2 {
    font-size: 1rem;
}

.case1Bouton1, .case1Bouton2 {
    border: solid #ffffff 3px;
    margin-top: 5%;
    margin-right: 13%;
    padding: 2%;
    font-variant: all-small-caps;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

.case2 {
    background: #ff9e00;
}

/* Ligne 2 */
.case3 {
    background: #1e8bc4;
}

.case4 {
    background: #f15a49;
}

.case5 {
    background: #35bc7a;
}

/* Ligne 3 */
.case6, .case8 {
    background: #f86925;
}

.case7 {
    background: #1e8bc4;
}

/* Autre */
.case2:hover, .case3:hover, .case4:hover, .case5:hover, .case6:hover, .case7:hover, .case8:hover {
    color: black;
    transition-duration: 0.5s;
}

.case1Bouton1:hover, .case1Bouton2:hover {
    background: #ffffff;
    border: solid #ffffff 3px;
    border-radius: 60px;
    transition-duration: 0.5s;
}

a:hover {
    color: #35bc7a;
}

/* Mobile */
@media screen and (max-width: 900px) {
    .contenue {
        border: none;
        width: 100%;
    }

    .block1 {
        width: 100%;
    }

    .blockImage {
        visibility: hidden;
    }
}

@media screen and (max-width: 500px) {
    .case1Text {
        font-size: 1rem;
    }

    a, .case1Bouton1, .case1Bouton2 {
        visibility: hidden;
    }

    .titreIcone, .icone {
        font-size: 1rem;
        margin-top: 2rem;
    }

}